@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background: #f8f8fb;
  padding: 1rem;
}
form {
  width: 50%;
  margin-inline: auto;
}
button {
  border: none;
  border-radius: 2rem;
  background-color: cadetblue;
  color: #fff;
  padding: 0.5em 1.4em;
}
button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  border-bottom: 2px solid rgb(119, 0, 255);
}
button:active,
button:focus {
  border: none;
  outline: inset;
  outline: 2px solid rgb(119, 0, 255);
}
button:disabled {
  outline: none;
  transform: translateY(0);
  background-color: #ccc;
  border: 2px outset #aaa;
  color: rgb(113, 113, 113);
  cursor: not-allowed;
}

/* progress bar styling */
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  align-items: center;
  width: 400px;
}
.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.progressbar::before {
  content: "";
  position: absolute;
  background-color: #aaa;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  border-radius: 1rem;
  width: 100%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.showProgress {
  position: absolute;
  background-color: rgb(0, 162, 194);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 5px;
  border-radius: 1rem;
  width: 50%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* circle styling */
.circle {
  background-color: rgb(254, 255, 255);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #aaa;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: relative;
}
.circleLabel {
  position: absolute;
  text-align: center;
  width: 10rem;
  top: 120%;
  right: 50;
}
.circle.active {
  border-color: rgb(0, 162, 194);
}
