@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: #f8f8fb;
}
form {
  width: 60%;
  max-width: 40rem;
  box-shadow: rgba(119, 0, 255, 0.2) 0px 0px 5px 0px;
  padding: 2em 3em;
  border-radius: 1rem;
  margin: auto;
  grid-area: form;
  animation: animate 0.75s ease;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
button {
  border: none;
  border-radius: 2rem;
  background-color: cadetblue;
  color: #fff;
  padding: 0.5em 1.4em;
  margin-top: 1rem;
}
button:hover {
  cursor: pointer;
  box-shadow: rgb(0, 72, 255) 0px 0px 5px 0px;
}
button:active,
button:focus {
  border: none;
  box-shadow: inset rgb(0, 72, 255) 0px 0px 2px 1px;
}
button:disabled {
  outline: none;
  box-shadow: none;
  transform: translateY(0);
  box-shadow: rgb(60, 60, 60) 0px 0px 2px 1px;
  background-color: #ccc;
  color: rgb(113, 113, 113);
  cursor: not-allowed;
}

.layout {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "progressbar" "form";
}

/* progress bar styling */
.container {
  grid-area: progressbar;
  margin: 2rem 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  align-items: center;
  width: 75%;
  max-width: 400px;
  font-size: 0.85rem;
  font-weight: bold;
  color: rgb(97, 97, 97);
  margin-bottom: 2rem;
}
.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.progressbar::before {
  content: "";
  position: absolute;
  background-color: #ccc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  border-radius: 1rem;
  width: 100%;
  z-index: -1;
  /* transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}
.showProgress {
  position: absolute;
  background-color: rgba(0, 72, 255, 0.4);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  border-radius: 1rem;
  width: 50%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* circle styling */
.circle {
  background-color: #fff;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ccc;
  transition: all 0.5s cubic-bezier(0.55, 0.3, 0.15, 0.55);
  position: relative;
}
.circle::after {
  content: attr(data-title);
  position: absolute;
  text-align: center;
  width: 5rem;
  top: 120%;
  right: 50;
}

.circle.active {
  border-color: rgba(0, 72, 255, 0.5);
}
